* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  display: grid;
  grid-template-areas:
    "header header header"
    "side main main"
    "footer footer footer";
  gap: 10px;
}

.child-1 {
  grid-area: header;
  background-color: aqua;
  height: 10vh;
}

.child-2 {
  grid-area: side;
  background-color: aquamarine;
  height: 50vh;
  /* width: 20vw; */
}

.child-3 {
  grid-area: main;
  background-color: black;
  height: 50vh;
  /* width: 78vw; */
}
.child-4 {
  grid-area: footer;
  background-color: blue;
  height: 40vh;
}
